.GroupBoxGrey {
    background-color: #eeeeee;
    border-color: #999999;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding-left: 10px;
    padding-right: 10px;
    width: 77%;
    float: right;
    margin-top: -30.5em;
}

.QueryLogo {
  margin-right: 15px;
}