.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    width: 99%;
    height: 3em;
  }
  
  .logo-container {
    flex: 1;
    
  }
  
  .logo {
    height: 70px; /* Adjust as needed */
  }
  
  .search-container {
    flex: 1;
    /* padding-left: 60%; */
    float: left;
  }
  
  .search-bar {
    width: 150px; /* Adjust as needed */
    padding: 8px;
    margin-right: 0%;
    border-color: black;
    color: black;
    height: 0.3em;
  
  }

  .search-info {
    color: black;
    padding-left: 8px;
    float:left;
  }
  
  
  .logout-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float:left;
    padding-left: 3px;
    color: black;
    font-size: smaller;
  }
  
  .logout-link {
    color: blue;
    text-decoration: none;
  }
  
  .logout-link:hover {
    text-decoration: underline;
  }

  .ok-button {
    background-color: lightblue;
    color: white;
    padding: 8px 12px;
    margin-left: 5px; 
    float: left;
    height: 0.8em;
    width: 1.1em;
    font-size: x-small;
  }

.parentDiv {
  float: right;
  width: 40%;
}